$primary-nav: #101c28;
$text-color: #222f3f;
$search-bar: #adc4d6;
$background: #e8f1f8;
$border: #f80652;

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  margin:0;
  padding:0;
}

.navbar{
  height: 100px;
  background: $primary-nav;
  padding-top:2rem;
  h2{
    color:$background;
    margin:0;
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }
}

.search-container{
   input{
    width: 40%;
    height: 2rem;
    background-color: $background;
    border: 1px solid $border;
    border-radius: 5px;
    text-indent: 1rem;
    margin-bottom: 0.5rem;
  }
  button{
    height: 2.2rem;
    border-radius: 5px;
    background: $border;
    color: $background;
    border: 0;
    padding-right:10px;
  }
}

.posterImage{
  justify-content: center;
  margin: 1rem;
  display:flex;
  flex-wrap: wrap;
}

.singleResult{
  position: relative;
  margin: 1rem;
  border: 3px solid $border;
  border-radius: 5px;
  padding: 0;
  height: 295px;
  button{
    position: absolute;
    top: 86.9%;
    left: 86.2%;
    border-radius: 5px;
    background: $border;
    color: $background;
    border: 0;
    font-size: 2rem;
    width:2rem;
  }
}